.navbar-default {
  background-color: rgba(0, 0, 0, 0.7);
  margin-top: 30px;
  border-radius: 10px;
  padding: 0 10px;
}
.navbar-form .form-control {
  background-color: #222;
  border: 1px solid #444;
  color: #FFF;
}
footer {
  color: #999;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.background .dot {
  position: absolute;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiYWBgmAnEDExAnAZiAAQYAArIAQY6xmzeAAAAAElFTkSuQmCC');
  width: 100%;
  height: 100%;
}
.background video {
  min-width: 100%;
  min-height: 100%;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(20, 20, 20, 0.7);
}
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: rgba(30, 30, 30, 0.7);
}