html {
   overflow-y: scroll;
}
footer {
  margin: 20px;
}
.navbar-default {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 30px;
  border-radius: 10px;
  padding: 0 10px;
}
.navbar-form .form-control {
  background-color: #222;
  border: 1px solid #444;
  color: #FFF;
}
footer {
  color: #999;
}
.background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}
.background .dot {
  position: absolute;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAABdJREFUeNpiYWBgmAnEDExAnAZiAAQYAArIAQY6xmzeAAAAAElFTkSuQmCC');
  width: 100%;
  height: 100%;
}
.background video {
  min-width: 100%;
  min-height: 100%;
}
.table-striped > tbody > tr:nth-of-type(2n+1) {
  background-color: rgba(20, 20, 20, 0.7);
}
.table-striped > tbody > tr:nth-of-type(2n) {
  background-color: rgba(30, 30, 30, 0.7);
}
#summary-table img.champion-square {
  margin: -2px;
  width: 32px;
  height: 32px;
}
#summary-table, .champion-rolestats-table {
  font-size: 18px;
  width: 100%;
  background: none;
  white-space: nowrap;
}
.percentage {
  display: inline-block;
  min-width: 70px;
  text-align: right;
}
.stats-increase, .stats-decrease {
  font-size: 14px;
}
.stats-large.stats-increase, .stats-large.stats-decrease {
  margin: 8px 10px 0px;
  font-size: 18px;
}
.style-change {
  margin: 0 6px 0 6px;
  font-size: 14px; 
}
.stats-increase {
  color: #4C4;
}
.stats-decrease {
  color: #F66;
}
.styletext-ad {
  color: #F44;
}
.styletext-ap {
  color: #96F;
}
.styletext-tank {
  color: #ABB;
}
.styletext-fighter {
  color: #DC4;
}
.styletext-support {
  color: #3CF;
}
#summary-table tbody td.summary-cell:nth-child(4),
#summary-table tbody td.summary-cell:nth-child(6),
#summary-table tbody td.summary-cell:nth-child(8) {
  text-align: left;
}
#summary-table thead tr.summary-head th {
  cursor: pointer;
}
#summary-table thead tr.summary-head th:nth-child(3),
#summary-table thead tr.summary-head th:nth-child(5) {
  text-align: right;
}
#summary-table a {
  color: #FFF;
}
#summary-chart {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
}
#chart-champion-overlay .chart-champion {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  -webkit-transition: 2s ease-in-out all;
  -moz-transition: 2s ease-in-out all;
  -o-transition: 2s ease-in-out all;
  transition: 2s ease-in-out all;
  -webkit-transition-property: top, left;
  -moz-transition-property: top, left
  -o-transition-property: top, left
  transition-property: top, left
}
#chart-champion-overlay .chart-champion-ad {
  border-color: #F44;
}
#chart-champion-overlay .chart-champion-ap {
  border-color: #96F;
}
#chart-champion-overlay .chart-champion-tank {
  border-color: #ABB; 
}
#chart-champion-overlay .chart-champion-fighter {
  border-color: #DC4;
}
#chart-champion-overlay .chart-champion-support {
  border-color: #3CF;
}
#chart-champion-overlay .chart-champion img {
  position: absolute;
  top: -2px; left: -2px;
  width: 18px;
  height: 18px;
}
#chart-champion-overlay .chart-champion:hover {
  z-index: 9999;
  width: 20px;
  height: 20px;
  margin: -2px 0 0 -2px;
  border: 0;
  cursor: pointer;
}
#chart-champion-overlay .chart-champion-ad:hover {
  box-shadow: 0 0 3px 3px #F44;
}
#chart-champion-overlay .chart-champion-ap:hover {
  box-shadow: 0 0 3px 3px #96F;
}
#chart-champion-overlay .chart-champion-tank:hover {
  box-shadow: 0 0 3px 3px #ABB; 
}
#chart-champion-overlay .chart-champion-fighter:hover {
  box-shadow: 0 0 3px 3px #DC4;
}
#chart-champion-overlay .chart-champion-support:hover {
  box-shadow: 0 0 3px 3px #3CF;
}
#chart-champion-overlay .chart-champion:hover img {
  z-index: 9999;
  top: -2px; left: -2px;
  width: 24px;
  height: 24px;
}
#chart-button {
  position: absolute;
  z-index: 1500;
  right: 90px;
  bottom: 65px;;
}
#chart-button button {
  width: 160px;
}
#chart-champion-overlay {
  position: absolute;
  z-index: 9998;
}
.list-champion {
  display: inline-block;
  position: relative;
  margin: 10px 11px;
}
.list-champion a {
  color: #FFF;
}
.list-champion img {
  width: 90px;
  height: 90px;
  margin-bottom: 4px;
  display: block;
}
.list-champion-name {
  text-align: center;
}
.list-normal-ad:before, .list-normal-ap:before, .list-normal-tank:before, .list-normal-fighter:before, .list-normal-support:before,
.list-urf-ad:after, .list-urf-ap:after, .list-urf-tank:after, .list-urf-fighter:after, .list-urf-support:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 90px;
}
.list-normal-ad:before {
  box-shadow: inset 4px 4px 8px 0px #F44;
}
.list-normal-ap:before {
  box-shadow: inset 4px 4px 8px 0px #96F;
}
.list-normal-tank:before {
  box-shadow: inset 4px 4px 8px 0px #ABB;
}
.list-normal-fighter:before {
  box-shadow: inset 4px 4px 8px 0px #DC4;
}
.list-normal-support:before {
  box-shadow: inset 4px 4px 8px 0px #3CF;
}
.list-urf-ad:after {
  box-shadow: inset -4px -4px 8px 0px #F44;
}
.list-urf-ap:after {
  box-shadow: inset -4px -4px 8px 0px #96F;
}
.list-urf-tank:after {
  box-shadow: inset -4px -4px 8px 0px #ABB;
}
.list-urf-fighter:after {
  box-shadow: inset -4px -4px 8px 0px #DC4;
}
.list-urf-support:after {
  box-shadow: inset -4px -4px 8px 0px #3CF;
}
.champion-stats-wrapper {
  margin-top: 32px;
  padding: 0px 32px;
  height: 500px;
  background-size: cover;
  background-position: right center;
  position: relative;
}
.champion-stats {
  position: absolute;
  left: 20px;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px 16px;
}
.champion-stats h2 {
  font-size: 18px;
  margin-top: 5px;
}
.champion-stats > div {
  float: left;
}
.champion-stats-type {
  font-size: 10px;
  color: #888;
}
.champion-stats-value {
  font-size: 24px;
  font-weight: bold;
}
.champion-rolestats {
  margin-top: 30px;
}
#champion-piechart {
  height: 280px;
}
